<ul role="todolist" class="todolist">
  @for (task of taskslist(); track task.id) {
  <li class="todolist__el">
    <mat-checkbox
      (change)="onEditTask(task)"
      [(ngModel)]="task.done"
      class="example-margin"
      >{{ task.name }}</mat-checkbox
    >
    @if(isTaskEdited(task.id)) {
    <input
      [(ngModel)]="task.name"
      name="edit"
      type="text"
      matInput
      placeholder="Ex. my task name"
    />
    }

    <div class="todolist__buttonsContainer">
      @if(!isTaskEdited(task.id)) {
      <button
        class="editButton"
        role="edit-button"
        mat-flat-button
        aria-label="Example icon button with a edit icon"
        (click)="startEditing(task.id)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      } @else {
      <button
        class="validateButton"
        role="validate-button"
        mat-flat-button
        aria-label="Example icon button with a edit icon"
        (click)="onEditTask(task); stopEditing(task.id)"
      >
        <mat-icon>check</mat-icon>
      </button>
      }

      <button
        class="deleteButton"
        role="delete-button"
        mat-flat-button
        aria-label="Example icon button with a delete icon"
        (click)="onDeleteTask(task.id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </li>
  }
</ul>
