<ul class="todolist">
  @for (task of taskslist(); track task.id) {
  <li class="todolist__el">
    <mat-checkbox
      (change)="signalsService.editTask(task)"
      [(ngModel)]="task.done"
      class="example-margin"
      >{{ task.name }}</mat-checkbox
    >
    @if(task.isEdited) {
    <input
      [(ngModel)]="task.name"
      name="edit"
      type="text"
      matInput
      placeholder="Ex. my task name"
    />
    }

    <div class="todolist__buttonsContainer">
      @if(!task.isEdited) {
      <button
        class="editButton"
        mat-flat-button
        aria-label="Example icon button with a edit icon"
        (click)="task.isEdited = true"
      >
        <mat-icon>edit</mat-icon>
      </button>
      } @else {
      <button
        class="validateButton"
        mat-flat-button
        aria-label="Example icon button with a edit icon"
        (click)="signalsService.editTask(task); task.isEdited = false"
      >
        <mat-icon>check</mat-icon>
      </button>
      }

      <button
        class="deleteButton"
        mat-flat-button
        aria-label="Example icon button with a delete icon"
        (click)="signalsService.deleteTask($index + 1)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </li>
  }
</ul>
