.todolist {
  display: flex;
  flex-flow: column;
  gap: 4px;
  width: 100%;

  &__el {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__buttonsContainer {
    margin-left: auto;
    display: flex;
    gap: 5px;
  }

  .editButton {
    display: flex;
    justify-content: center;
    background-color: rgb(236, 126, 0);
    mat-icon {
      margin: 0;
    }
  }

  .validateButton {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 190, 25);
    mat-icon {
      margin: 0;
    }
  }

  .deleteButton {
    display: flex;
    justify-content: center;
    background-color: red;
    mat-icon {
      margin: 0;
    }
  }

  &__addContainer {
    display: flex;
    align-items: center;
  }

  &__addForm,
  &__addFormField {
    width: 100%;
  }

  &__addButton {
    margin-left: auto;
  }
}
