<section class="tasks">
  <header>
    <h1>🗒️ Tasks</h1>
    <div class="tasks__toolbar">
      <div class="tasks__addContainer">
        <form class="tasks__addForm">
          <mat-form-field class="tasks__addFormField">
            <mat-label>Task name</mat-label>
            <input
              [(ngModel)]="inputAdd"
              name="add"
              type="text"
              matInput
              placeholder="Ex. my task name"
            />
          </mat-form-field>
        </form>
        <button
          class="tasks__addButton"
          mat-stroked-button
          aria-label="Example icon button with a vertical three dot icon"
          (click)="addTask()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </header>

  <div class="tasks__buttonToggleContainer">
    <mat-button-toggle-group
      [formControl]="tabControl"
      name="tab"
      aria-label="Font Style"
    >
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="todo">Todo</mat-button-toggle>
      <mat-button-toggle value="done">Done</mat-button-toggle>
    </mat-button-toggle-group>
    <p>Chosen value is {{ tabControl.value }}</p>
  </div>

@if(taskslist.length > 0) {
  <app-todolist
    [taskslist]="taskslist"
    (editTask)="editTask($event)"
    (deleteTask)="deleteTask($event)"
  ></app-todolist>
} @else {
  <mat-spinner></mat-spinner>
}

</section>
