<section class="tasks">
  <header>
    <h1>Tasks</h1>
    <div class="tasks__toolbar">
      <div class="tasks__addContainer">
        <form class="tasks__addForm">
          <mat-form-field class="tasks__addFormField">
            <mat-label>Task name</mat-label>
            <input
              [(ngModel)]="inputAdd"
              name="add"
              type="text"
              matInput
              placeholder="Ex. my task name"
            />
          </mat-form-field>
        </form>
        <button
          class="tasks__addButton"
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          (click)="
            signalsService.saveTasks({
              id: signalsService.tasks().length + 1,
              name: inputAdd,
              done: false
            })
          "
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </header>

  {{ selectedTab }}
  <mat-tab-group
    (selectedIndexChange)="selectedTab = $event"
    mat-stretch-tabs="false"
    mat-align-tabs="center"
  >
    <mat-tab label="All">
      <app-todolist [taskslist]="signalsService.tasks"></app-todolist>
    </mat-tab>
    <mat-tab label="Todo">
      <app-todolist [taskslist]="signalsService.tasksTodo"></app-todolist>
    </mat-tab>
    <mat-tab label="Done">
      <app-todolist [taskslist]="signalsService.tasksDone"></app-todolist>
    </mat-tab>
  </mat-tab-group>
</section>
